<h1>Enter plant details and create to store.</h1>

<form class="" action="/plants" method="post">
<br>
 <p><label for="name">Name</label>
    <input type="name" name="name" value="" /></p>

        <p><label for="location">Plant location</label>
    <input type="location" name="location" value="" /></p>

        <p><label for="light_requirement">Light Requirement</label>
    <input type="light_requirement" name="light_requirement" value="" /></p>

        <p><label for="watering">Watering Schedule </label>
    <input type="watering" name="watering" value="" /></p>

        <p><legend><label for="description">Description</label></legend>
    <textarea name="description" value="description" style="height:100px; width:200px"></textarea></p>

     <input type="submit" name="" value="CREATE" />


    </form>
