<a href="/">HOME</a>

<h1> Sign up to continue.</h1>

<form class="" action="/users" method="POST">
    <p><label for="name">Please enter your name: </label>
    <input type="text" name="name" value="" /></p>

    <p><label for="email">Please enter your email: </label>
    <input type="text" name="email" value="" /></p>

    <p><label for="password">Please enter your password: </label>
    <input type="text" name="password" value="" /></p>

    <input type="submit" value="Submit" />

</form>